.nav {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  position: fixed;
  top: 0;
  left: 40px;
  right: 40px;
  z-index: 40;
}

@media (max-width: 799px) {
  .nav {
    padding: 16px 0px;
    left: 30px;
    right: 30px;
  }
}

.name {
  font-style: italic;
}

.hamburger-menu {
  cursor: pointer;
  padding: 14px 0;
}

.bar {
  width: 35px;
  /* height: 5px; */
  height: 2px;
  margin: 6px 0;
  background-color: black;
  transition: all 0.3s ease;
}

.nav-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

.nav-items.open {
  transform: translate(-50%, -50%) scale(1);
}
img.close, .container.close {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.nav-items li {
  /* margin: 20px 0; */
  margin: 20px;
}

.nav-items a {
  text-decoration: none;
  color: black;
}

.change .bar:nth-of-type(1) {
  transform: rotate(-45deg); /*  translate(-9px, 6px) */
}

.change .bar:nth-of-type(2) {
  opacity: 0;
}

.change .bar:nth-of-type(3) {
  transform: rotate(45deg) translate(-8px, -8px);
}


/* @media (min-width: 769px) {
  .nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: auto;
    left: auto;
    transform: scale(1);
  }
  
  .hamburger-menu {
    display: none;
  }
} */

#animation {
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
  
#animation:hover {
  background-color: #f2f2f2;  /* or any color you prefer */
  color: #333;  /* or any color you prefer */
}